<div class="card">
    <div class="card-header"><strong>Price Filter</strong></div>
<div class="card-body">
    <form>
        <div class="form-group">
            <label for="from">Max</label>
            <input type="string " id="from" class="form-control"
                 
            (keyup)="inputPriceMax$.next($event.target.value)"
            [value]="PriceMax">
            <label for="from">Min</label>
            <input type="string " id="from" class="form-control"
                 
            (keyup)="inputPriceMin$.next($event.target.value)"
            [value]="PriceMin">
        </div>
        </form>
</div>
</div>
