<div *ngIf='cartItems.length === 0' class="alert alert-info">Your cart is empty</div>
<ul *ngIf="cartItems.length > 0" class="list-group">
    <li class="list-group-item" *ngFor="let item of cartItems">
        <app-cart-items [cartItem]="item"></app-cart-items>
    </li>

    <li class="list-group-item active">
        <strong>Total </strong> €{{cartTotal}}
    </li>
</ul>


<!-- <div class="card mb-4 shadow-sm">
    <p class="card-text pl-2">
        <strong><small class="text-muted">Empty Cart</small></strong>
    </p>
</div> -->