<div class="container">

    <h1 class="my-4">{{product.name}}
    </h1>
  
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="{{product.imageUrl}}" alt="">
      </div>
  
      <div class="col-md-4">
          <h2>€{{product.price}}</h2>
        <h3 class="my-3">Description</h3>

        <p>{{product.description}}</p>
        <h3 class="my-3">Details</h3>
        <ul>
          <li>Eventuele data</li>
          <li>Eventuele data</li>
          <li>Eventuele data</li>
          <li>Eventuele data</li>
        </ul>
        <button class="btn btn-primary" >Add to cart <i class="fas fa-sign-in-alt" ></i></button>

      </div>



    </div>
  
    <h3 class="my-4">Gerelateerde producten</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
    </div>
  
  </div>
